
.canvas {
    display: block; /* Remove canvas default margin */
    /* Dark background */
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000 url('../assets/background.jpg');
    background-blend-mode: screen;
}

.background-image {
    position: fixed;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    background-image: url('../assets/background.jpg');
    background-size: cover;
    background-position: center;
    z-index: -1;
}